/*
*Font
*/
@font-face {
    font-family: Stardew-Valley;
    src: url("Assets/Stardew_Valley.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Recipe;
    src: url("Assets/Quicksand_Bold_Oblique.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Comment;
    src: url("Assets/Quicksand_Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ingredient;
    src: url('Assets/HelveticaNeueMedium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gallery;
    src: url("Assets/PlayfairDisplay-BoldItalic.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    cursor: url("Assets/cursor.cur"), auto;
}

a:hover,
button:hover {
    cursor: url("Assets/cursor_hover.cur"), auto;
}



/*
* footer
*/

footer {
    background-color: #333;
    color: #fff;
    font-size: small;
    padding-top: 40px;
    position: relative;
    height: 150px;
    width: 100%;

}



/*
* EntryPage
*/

.full-height {
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.row-video {
    height: 100%;
}

.col-video {
    height: 100%;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.titleImage {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    width: 50%;
    height: auto;
    z-index: 10;
}

.video {
    z-index: 9;
}

.Entry {
    z-index: 10;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    width: 15%;
    height: auto;
    transition: transform 0.3s ease;

}

.Entry:hover {
    transform: translateX(-50%) scale(1.2);
}

.accordion-item {
    background-image: url("Assets/background.png");
    background-size: cover;

}

.accordion-button {
    padding: 3px 3px;

}

.footerContainer {
    padding: 0;
    margin: 0;

    width: 100%;
}

.accordion-button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

}

.accordion-item {
    padding: 0;
    margin: 0;
}







/*------------------------------------------------------

/*
* main Page
*/

.mainPage {
    background-image: url("Assets/background.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: 0;


}

.navbar {
    background-color: rgba(21, 71, 148, 0.8);
}

.Website {
    margin-right: 6rem;
    font-family: Stardew-Valley, sans-serif;
    font-size: 40px;
}

.Blog {
    margin-right: 6rem;
    font-family: Stardew-Valley, sans-serif;
    font-size: 40px;
}

.blogText {
    color: ghostwhite;
}





.home-link {
    font-family: Stardew-Valley, sans-serif;
    font-size: 40px;
    color: rgb(241, 199, 10) !important;

}

.gallery {
    margin-right: 3rem;
    font-family: Stardew-Valley, sans-serif;
    font-size: 40px;
    color: ghostwhite;
}

.gallery :hover {
    color: rgb(241, 199, 10) !important;
}

.Home {
    margin-right: 5rem;
    font-family: Stardew-Valley, sans-serif;
    font-size: 40px;
}

.gallery-list {
    font-family: Stardew-Valley, sans-serif;
    font-size: 40px;
}

.list {
    margin-right: 2rem;
    font-family: Stardew-Valley, sans-serif;
    font-size: 40px;
    color: ghostwhite;

}

.websiteText {
    color: ghostwhite;
}

.searchBar {
    margin-right: 2rem;
    font-family: Stardew-Valley, sans-serif;
    font-size: 40px;

}

.searchBarText {
    color: ghostwhite;
}








.nav-link:hover {
    color: yellow;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.navbar {
    height: 6rem;
    overflow: hidden;
}

/*-----------------------------------
/*
*GalleryPhoto page
*/

.mainGalleryPage {
    background-image: url("Assets/background.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin-top: 0;
    overflow: visible;


}

.text-frame {
    margin: 15px;
    margin-bottom: 0;
    font-size: 25px;

    border: 15px solid transparent;
    border-image: url('Assets/border_image.png');
    border-image-slice: 33%;
    background-image: url('Assets/background_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-size: 100% 100%;




}

.description-text {
    font-family: Gallery;
    font-size: 35px;
    padding: 15px;
}

.photo {
    margin-top: 30px;
    display: flex;

}

.all-seasons {
    margin-top: 15px;

}

.seasons {
    margin-top: 15px;
    background-image: url('Assets/seaons.png');
    background-repeat: repeat;
}

.sorting {
    margin-top: 15px;

    background-image: url('Assets/seaons.png');
    background-repeat: repeat;
}

.DishPhoto {
    margin-top: 25px;
    transition: opacity 0.3s ease;
}

.card img {
    height: 200px;
    object-fit: cover;
}



#Blackberry-Cobbler .card:hover img {
    content: url('Assets/Blackberry-cobbler2.PNG');
}

#Blueberry-tart .card:hover img {
    content: url('Assets/Blueberry-tart2.png');
}

#Cookie .card:hover img {
    content: url('Assets/Cookie2.PNG');
}

#Farmer-lunch .card:hover img {
    content: url('Assets/Farmer-lunch2.PNG');
}

#Pink-cake .card:hover img {
    content: url('Assets/Pink-cake2.PNG');
}

#Pepper-poppers .card:hover img {
    content: url('Assets/Pepper-poppers2.PNG');
}

#Fish-stew .card:hover img {
    content: url('Assets/Fish-stew2.PNG');
}

#Strange-bun .card:hover img {
    content: url('Assets/Strange-bun2.PNG');
}

#Maki-roll .card:hover img {
    content: url('Assets/Maki-roll2.PNG');
}

.card-text {
    font-family: Ingredient;
    font-size: 25px;
}

/*-----------------------------------------

/*
*list page
*/

.listGallery {
    background-image: url("Assets/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
    margin-top: 0;
    overflow: visible;
}

.list-table {
    margin-top: 20px;
}

.list-table {
    font-family: Ingredient;
    font-size: 25px;
    margin-top: 0;
    border: 2px solid black;
    border-collapse: collapse;
}

.list-description {
    font-family: Gallery;
    font-size: 70px;
    padding: 15px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;

}


.list-header {
    background-color: rgb(22, 255, 33);
    text-align: center;

}

.table-frame {
    margin: 5px;
    object-fit: cover;
}


.list-table th {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
}


.list-table td {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
}

.mainContent {
    text-align: center;
}

.list-search {
    margin-left: 15px;
    margin-top: 25px;
}

.list-back-to-top-frame {
    text-align: center;
    margin-bottom: 40px;
}

.list-back-to-top-frame button {
    border: 15px solid transparent;
    border-image: url('Assets/border_image.png') 33 stretch;
    background-color: #FFF3CC;
    border-image-slice: 33%;
    margin-top: 25px;

    font-size: 25px;
    transition: transform 0.3s ease;
}

.list-back-to-top-frame button:hover {
    transform: scale(1.2);
}

.mainContent img {
    transition: transform 0.3s ease;
}

.mainContent img:hover {
    transform: scale(1.2);
}

/*------------------------------------------------
*/

.searchPage {
    background-image: url("Assets/background.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: 0;
}

.searchFrame {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

#searchInput {
    font-family: Stardew-Valley, sans-serif;
    font-size: 35px;
}

.result-item {
    background-color: antiquewhite;
}

.result-item p {
    font-family: Stardew-Valley, sans-serif;
    padding-left: 20%;
    margin: 5px 0;
    font-size: 22px;
}

.search-dish-image {
    object-fit: cover;
    margin-right: 5px;
    margin-left: 2px;
}

/*------------------------------------------------
*/

/*
* dishes
*/

.Blueberry-tart {
    background-image: url("Assets/background.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 100vh;
    margin-top: 0;
    overflow: visible;
}

.test {
    width: 100%;
    font-size: large;
}

.MainContent {

    margin-left: 1%;
    margin-right: 2%;




}

.Name {

    margin-top: 5%;
    font-size: 50px;
    font-family: Recipe;
    text-align: center;


}

.Name2 {

    font-size: 26px;
    font-family: Comment;
    font-weight: normal;
}

.Dish-Video {
    margin-right: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 15px solid transparent;
    border-image: url('Assets/border_image.png') 33 stretch;
    background-color: #FFF3CC;
    border-image-slice: 33%;

}

.Blueberry-tart-video {
    width: 1280px;
    height: 720px;
}




.recipe-text {
    font-family: Ingredient, sans-serif;
    font-size: 35px;

}

.recipe-image {
    padding: 1%;
}

.recipe-inner-image {
    margin: 1%;
}

.recipe-title {
    font-family: Recipe, sans-serif;
    font-size: 90px;

    margin-top: 15px;
    padding: 1%;
}

.recipe-frame {
    margin: 15px;
    margin-bottom: 0;
}

.comment-frame {
    margin-top: 3%;
}

.comment-inner-frame {
    margin: 1%;
    width: 100%;
    background-color: rgba(0, 195, 255, 0.658);
}

.comment-title {
    font-size: 30px;
    color: black;
    background-color: darkcyan;
}

.Dish-description-text {
    margin-top: 150px;
    border: 15px solid transparent;
    border-image: url('Assets/border_image.png') 33 stretch;
    background-image: url('Assets/galleryBoard2.png');
    border-image-slice: 33%;




}

.video-text-container {
    margin-top: 2%;
    border: 15px solid transparent;
    border-image: url('Assets/border_image.png') 33 stretch;
    background-image: url('Assets/background_image.png');
    background-repeat: repeat;
    border-image-slice: 33%;
    margin-left: 25px;
    margin-right: 25px;
}

.recipe-frame {

    border: 20px solid transparent;
    border-image: url('Assets/backgroundBorder2.png') 33 stretch;
    background-image: url('Assets/background_image2.png');
    background-repeat: repeat;
    border-image-slice: 3%;
    margin-left: 80px;
    margin-right: 80px;
}

.ingredient-frame {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}

.recipe-text h2 {
    font-family: Recipe, sans-serif;
    font-size: 50px;
    color: rgb(233, 38, 113);
    margin-top: 15px;
    margin-bottom: 10px;
}

.recipe-text strong {
    font-size: 50px;
    font-weight: bold;
}

.recipe-text hr {
    border: none;
    border-top: 5px solid rgba(233, 38, 113, 0.945);
    margin: 3px 3px;
}

.back-to-top {
    border: 15px solid transparent;
    border-image: url('Assets/border_image.png') 33 stretch;
    background-color: #FFF3CC;
    border-image-slice: 33%;
    margin-top: 50px;
    font-size: 35px;
    transition: transform 0.3s ease;
}






.back-to-top:hover {
    transform: scale(1.2);
}

.back-to-top-frame {
    display: flex;
    justify-content: center;
}